@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.chat-input {
  display: grid;
  align-items: center;
  grid-template-columns: 95% 5%;
  background-color: #f2d8d8;
  padding: 0 2rem;

  &__button-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
  }

  &__input-container {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: white;
    input {
      width: 90%;
      height: 60%;
      background-color: transparent;
      color: #454849;
      border: none;
      padding-left: 1rem;
      font-size: 1.2rem;

      // &::selection {
      //   background-color: #e8a0bf;
      // }
      &:focus {
        outline: none;
      }
    }
    button {
      padding: 0.3rem 2rem;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e8a0bf;
      border: none;
      cursor: pointer;

      svg {
        font-size: 2rem;
        color: white;
      }
    }
  }
}
