@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.dashboard {
  &__container {
    border-radius: 10px;
    background-color: #fdeeed;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include desktop {
      @include desktop-center;
      margin-top: 5rem;
      padding: 2rem;
    }
  }

  &__greeting {
    color: #33302f;
    font-size: 2.4rem;
  }

  &__sub-container {
    display: flex;
    justify-content: space-between;
  }

  &__quote-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__quote {
  }

  &__img {
    width: 40%;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  &__button {
    text-decoration: none;
    line-height: 42px;
    color: #33302f;
    border-radius: 5px;
    padding: 0.2rem 1.2rem;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;

    &:hover {
      color: #ec5648;
      background: transparent;
      box-shadow: none;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 0;
      background: #ec5648;
      box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
      transition: 400ms ease all;
    }
    &:after {
      right: inherit;
      top: inherit;
      left: 0;
      bottom: 0;
    }
    &:hover:before,
    &:hover:after {
      width: 100%;
      transition: 800ms ease all;
    }
  }
}
