@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  img {
    height: 10rem;

    @include desktop {
      height: 20rem;
    }
  }
  &__title {
    color: #103150;
    font-size: 1.6rem;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ff916c;
    font-size: 1.2rem;
    gap: 2rem;
  }
}
