.not-found {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  gap: 2rem;
}

.not-found img {
  width: 100%;
}

.not-found p {
  font-size: 1.1rem;
  line-height: 1.4;
}

@media only screen and (min-width: 768px) {
  .not-found img {
    width: 60%;
  }
}

@media only screen and (min-width: 1280px) {
  .not-found img {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .not-found {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button {
  width: 10rem;
  text-align: center;
  text-decoration: none;
  line-height: 42px;
  color: #33302f;
  border-radius: 5px;
  padding: 0.2rem 1.2rem;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.button:hover {
  color: #ec5648;
  background: transparent;
  box-shadow: none;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #ec5648;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.button:hover:before,
.button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
