@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.logged-header {
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    @include desktop-center;
    padding: 2rem 0;
  }

  &__logo {
    width: 12rem;
  }
}

ion-icon {
  font-size: 2rem;
  transition: all 0.3s;
  cursor: pointer;
  color: black;
  &:hover {
    color: $primary-brand;
  }
}
