@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  z-index: 999;

  &__content {
    background-color: #fff;
    width: 100%;

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;

    @include tablet {
      width: 80%;
      padding: 2rem;
      height: auto;
    }

    @include desktop {
      padding: 1rem 2rem 2rem 2rem;
      width: 30%;
    }
  }

  &__close {
    cursor: pointer;
    font-size: 2rem;
    align-self: flex-end;
  }

  &__title {
    font-size: 1.6rem;
    @include desktop {
      font-size: 2rem;
    }
    color: $primary-brand;
  }
}
