@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.contacts {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: 100%;
  overflow: hidden;
  background-color: #e7f0f2;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: $primary-brand;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }
  }
  &__item {
    min-height: 5rem;
    cursor: pointer;
    width: 90%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  &__item-name {
    h3 {
      color: #454849;
    }
  }
  &__item-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 2rem;
    }
  }

  .selected {
    background-color: #d2e9e9;
  }

  &__current-user {
    background-color: $primary-brand;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    gap: 2rem;
  }
  &__current-username {
    h2 {
      color: white;
      font-size: 1.2rem;
    }
  }
  &__current-avatar {
    img {
      height: 2rem;
      max-inline-size: 100%;
    }
  }
}
